[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/varun3536
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/varun3536
	label-Verified = -1..+1 group user/varun3536
	push = group user/varun3536
	read = group user/varun3536
	rebase = group user/varun3536
	removeReviewer = group user/varun3536
	submit = group user/varun3536
[access "refs/heads/*"]
	create = group user/varun3536
	push = +force group user/varun3536
	pushMerge = group user/varun3536
	read = group user/varun3536
[access "refs/tags/*"]
	push = group user/varun3536
	push = +force group user/varun3536
